@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import "font-awesome";

body {
  background: image_url('round.png');
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar { 
  background: image_url('dark_sharp_edges.png');
  // box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
    // color: #E13232;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 26px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

h1, a, a:hover, a:visited {
  color: DarkRed;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.page-item.active .page-link {
  background-color: DarkRed;
  border-color: DarkRed;
}

.page-link {
  color: DarkRed;
}

.help-block { 
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px; 
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}